{% extends 'base.html.twig' %}

{% block title %}Hello AttractionController!{% endblock %}

{% block body %}
    <h1>Create Attraction</h1>
    <form method="POST">
        <div>
            <label>Name: </label>
            <input name="name" type="text"/>
        </div>
        <div>
            <label>Short Description: </label>
            <input name="short_description" type="text"/>
        </div>
        <div>
            <label>Full Description: </label>
            <input name="full_description" type="text"/>
        </div>
        <div>
            <label>Score: </label>
            <input name="score" type="text"/>
        </div>

        <input type="submit">
    </form>
{% endblock %}
