{% extends 'base.html.twig' %}

{% block title %}New Hotel{% endblock %}

{% block body %}
    <h1>{{ 'hotel.create.title'|trans }}</h1>

    {{ include('hotel/_form.html.twig') }}

    <a href="{{ path('app_hotel_index') }}">{{ 'general.back_to_list.label'|trans }}</a>
{% endblock %}
